<script type="text/javascript">
      
      var input = document.getElementById('searchTextField');
      var options = {
	    types: ['(cities)']
	  };
	  var autocomplete = new google.maps.places.Autocomplete(input, options);

</script>

<div class ="addtrip-bg">

	<form class="form" id="form">

	  <div id="addtripp" type="TITLE YOUR TRIP"><input type="text" name="add_t" ng-model="title"></input></div>
	  <div id="addtripp" type="WHERE ARE YOU GOING?"><input id="searchTextField" type="text" name="add_t" ng-model="place"   style="position: relative; left: -17px;"></input></div>
	  <br><br>
	  <button id="addtripbtn" ng-click="submit(title,place);">START YOUR TRIP</button>
	  <button id="addtripbtn" onclick="location.href='/#/mytrips';">CANCEL</button>

	</form>
<div>

