
<div class ="searchresults-bg">
  <div class ='searchresults'>

    <!-- <a href="#/addtrip" id="createtripbtn"> Create Trip </a> -->

    <h1> {{city}} </h1>  <a href="#/addtrip" id="createtripbtn"> Create Trip </a> <br>

    <h3>Top Attractions: </h3><br>

    <div class='scrolling_results'>

      <span ng-if="attractions.length != 0">
      <span ng-repeat = "place in attractions">
        <div class='result_entry'>
          <span ng-if="place.thumbnail_url != null"><div id="result_image" style="background-image:url('{{place.thumbnail_url}}');"></div></span>
          <span ng-if="place.thumbnail_url == null"><div id="result_image" style="background-image:url('images/noimage.png');"></div></span>
          <div id="result_title_desc">
            {{ place.name }}<br>
            <span style="font-size:11px; color: #878787; line-height: 15px;">{{place.perex}}</span>
          </div>
          </div>
        </span>
        </span> 

        <span ng-if="attractions.length == 0">
          <h3>Looks like there are no results! Try searching for another city. </h3>
          <button id="addtripbtn" onclick="location.href='/#/';">SEARCH AGAIN</button>
        </span> 

    <br>
  </div>
</div>

