
<div class ='trip-agenda'>
  <h1>South East Asia Travels</h1>
  <h2>July 18 - July 29, 2018</h2>
  <br><hr>
  
  <div class = 'agenda-row'>
    <div class = 'checklist-column'>
      <h2><b>CHECKLIST</b></h2>
    </div>

    <div class = 'day-column'>
      <h2><b>DAY 1</b></h2>
      <div class = 'day-activity'>Walk down Orchard Road</div>
      <div class = 'day-activity'>Botanical Garden</div>
      <div class = 'day-activity'>Singapore Zoo</div>
    </div>

    <div class = 'day-column'>
      <h2><b>DAY 2</b></h2>
    </div>

    <div class = 'day-column'>
      <h2><b>DAY 3</b></h2>

    </div>

  </div>




</div>
