
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow-y: hidden;
}


.ng-scope {
  height: 100%;
}

/* Main Containers */
.outer-container {
  margin: 10%;
  margin-top: 8%;
  height: 75%;
  width: 80%;
  min-width: 1100px;
  font-family: Lato;
  box-shadow: 2px 5px 22px #a3a3a3;
}


.game-window {
  font-family: lato;
  color: white;
  background-image:url('images/back.jpg'); 
  background-size: cover;
  border-radius: 0px 15px 15px 0px;
  height: 100%;
  width: 75%;
  float: right;
  position: relative;
  overflow: auto;
}

.game-window h1 { 
  font-weight: 300;
  letter-spacing: 1;
  font-size: 60px; 
  text-align: center; 
  padding-top: 40px;

 }

.status-window {
  height: 100%;
  width: 25%;
  background: #fafafa;
  float: left;
}

.status-window a:link, a:visited {
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding-left: 20%;
  text-decoration: none;
  font-weight: 500;
  padding-top: 12px;
  margin-bottom: 10px;
  height: 50px;
  color: #adadad;
  display: inline-block;
}

.status-window a:hover, a:active {
  color: #d86942;
  background-image: linear-gradient(left, #d86942, #d86942 2%, transparent 2%, transparent 100%);
  background-image: -webkit-linear-gradient(left, #d86942, #d86942 2%, transparent 2%, transparent 100%)  
}

.avatar-circle {
  border-radius: 50%;
  width: 37%;
  margin: 10px;
}

/**************** HOMEPAGE STYLING ********************/

input[id=searchTextField] {
  background: transparent;
  border: none;
  border-bottom: 1.2px solid #fff;
  width: 63%;
  margin: 15px;
  font-size: 24px;
  color: fff;
}

input[id=searchTextField]::placeholder { 
  color: black;
  opacity: .45;
  font-weight: 300;
  font-family: lato;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

input[id=searchbtn] {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  width: 90px;
  padding: 6px;
  font-size: 13px;
  font-weight: 400;
  color: #d86942;
  text-transform: uppercase;
}

input[id=searchbtn]:hover {
  color: #fff
  background: #d86942;
}


/**************** MY TRIPS STYLING ********************/

 .mytrips-bg {
  background-color: #f3f3f3;
  background-size: cover;
  overflow-y: scroll;
 }

 .mytrips {
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 10px;
  color: #545454;
  font-size: 14px;
 }

.mytrips h2 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 600;
}

.scrolling_trip_row {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 220px;
  white-space:nowrap;
}

.trip_entry {
  background-size: cover;
  border-radius: 5px;
  width: 27%;
  min-width: 25%;
  height: 100%;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

/*.trip_entry:hover {
  border: 2px solid #d86942;
  opacity: 1;
}*/


#trip_title_dates {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25%;
  padding: 10px;
  font-size: 13px;
}


.add-trip-form-temp {
  background-color: #101010;
  opacity: .92;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.1px;
  padding-left: 175px;
  padding-top: 175px;
  z-index: 1000;
}


.add-trip-button {
 background: #d86942 ;
 color: #fff;
 cursor: pointer;
 position: absolute;
 top: 20px;
 right: 60px;
 font-size: 30px;
 line-height: 50px;
 min-width: 55px;
 height: 55px;
 border-radius: 50%;
 margin: 0 -30px 0 40px;
 text-align: center;
 font-weight: 200;
 box-shadow: 0 2px 5px rgba(0,0,0,0.2);
 transition: background 500ms;
}

.add-trip-button:hover {
 color: #F65A5B ;
 background: white;
 transition: background 500ms;
}

.delete-trip-button {
  background: #CF000F ;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 35px;
  font-size: 20px;
  line-height: 25px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
 }
 
 .delete-trip-button:hover {
  background: #EDA2A7;
  transition: background 500ms;
 }


/************* ADD TRIP FORM STYLING ******************/

.addtrip-bg {
  background-image:url('images/mountains.jpg');
  background-size: cover;
}

.form {
    width: 55%;
    opacity: .85;
    height: 55%;
    min-height: 350px;
    background: black;
    box-shadow: 0 0 40px -10px #000;
    margin: auto;
    margin-top: 15%;
    margin-left: 23%;
    padding-top: 30px;
    padding-left: 80px;
    box-sizing: border-box;
    position: absolute;
}

input[name="add_t"]{
    width: 70%;
    box-sizing: border-box;
    background: none;
    transition: all .3s;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    line-height: 40px;
    font-size: 17px;
    opacity: .9;
}

input[name="add_t"]::placeholder { 
  color: white;
  opacity: .7;
  text-transform: capitalize;
}


#addtripp:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.05px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 400;
    opacity: .9;
    line-height: 25px;
}

#close{
  color:white;
  font-size: 30px;
}

#addtripbtn {
    float: left;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 1px solid #ffffff;
    background: transparent;
    color: white ;
    transition: all .3s;
    border-radius: 5px;
    letter-spacing: 1.2px;
    margin-right: 15px;
    opacity: 1;
    font-weight: 300;
}

#addtripbtn:hover {
    background: #ffffff;
    color: black;
    font-weight: 300;
}

/*************** AGENDA PAGE STYLING ***********************/

 .trip-agenda {
  padding-left: 40px;
  padding-right: 30px;
  color: #545454;
  font-size: 14px;
}

 .trip-agenda h1 {
  font-size: 23px;
  letter-spacing: 0;
  font-weight: 600;
  color: #545454;
  text-align: left;
}

.trip-agenda h2 {
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  text-align: left;
}

.trip-agenda hr {
  opacity: .1;
}

.agenda-row {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 65%;
  white-space:nowrap;
}

.checklist-column {
  width: 200px;
  height: 10%;
  background-color: #f8f8f8;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  overflow-y: scroll;
}

.day-column {
  width: 200px;
  height: 95%;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  overflow-y: scroll;
}

.day-activity {
  position: relative;
  background-color: #545454; /*#d86942; */
  height: 28px;
  width: 95%;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  padding-top: 10px;
  padding-left: 5%;
  margin-bottom: 10px;
}

/******************* SEARCH RESULTS STYLING *******************/

.searchresults-bg {
  background-color:rgba(0, 0, 0, 0.4);
  background-size: cover;
  overflow-y: scroll;
 }

.searchresults {
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 10%;
}

.searchresults h1 {
  color: white;
  size: 28px;
  text-align: left;
  text-transform: capitalize;
  line-height: 40px;
  position: relative;
  display: inline;
}

.searchresults h3 {
  color: white;
  size: 13px;
  font-weight: 300;
  letter-spacing: 1.1px;

}

#createtripbtn {
  background: #d86942;
  border-radius: 4px;
  width: 125px;
  padding: 8px;
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-align: center;
  position: relative;
  top: -10px;
}

#createtripbtn:hover{
  text-decoration: none;
  background: #fff;
  color: #d86942;
  transition: .3s;
}

/***/

.scrolling_results {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 300px;
  white-space:nowrap;
}

.result_entry {
  border-radius: 5px;
  width: 27%;
  height: 100%;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

#result_image {
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  height: 60%;
}


#result_title_desc {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 100%;
  height: 40%;
  padding: 10px;
  font-size: 13px;
  color: #101010;
  overflow-y: auto;
  white-space: normal;
}



/******************* NOT RELEVANT...I THINK *******************/

.start-game {
  color: #ffffff;
  text-align: center;
}

.game-over {
  color: #ffffff;
  text-align: center;
}

.setting-panel {
  float: left;
  font-size: 12px;
}

.bottom {
  width: 300px;
  height: 70px;
  top: 555px;
  position: absolute;
}

#main {
  position: relative;
  padding: 65px;
  max-width: 100%;
  min-width: 80em;
  padding: 4.5em 3em 3em 3em ;
  background: #ffffff;
  border-radius: 4px;
  cursor: default;
  opacity: 0.95;
  text-align: center;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
}

#main h2 {
  font-size: 24px;
  font-weight: 300;
}

#main .avatar {
  position: relative;
  display: block;
  margin-bottom: 1.5em;
}

#main .avatar img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 0 1.5em #ffffff;
}

#main .avatar:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -3em;
  width: calc(100% + 6em);
  height: 1px;
  z-index: -1;
  background: #c8cccf;
}

@media screen and (max-width: 480px) {

  #main {
    min-width: 0;
    width: 100%;
    padding: 4em 2em 2.5em 2em ;
  }

  #main .avatar:before {
    left: -2em;
    width: calc(100% + 4em);
  }

}

body.is-loading #main {
  opacity: 0;
  -moz-transform: rotateX(15deg);
  -webkit-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

